.AboutPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.PlanetInfo {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
}

.PlanetInfo__Item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.PeopleInfo {
    max-width: 73%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.PeopleInfo__Filter {
    display: flex;
    justify-content: center;
}

p {
    color: white;
}